[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/imnodes"]
	path = deps/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "deps/rtmidi"]
	path = deps/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/portable-file-dialogs"]
	path = deps/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
