[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/imnodes"]
	path = deps/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "deps/IconFontCppHeaders"]
	path = deps/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
