[Desktop Entry]
Name=midiconn
Exec=midiconn
Type=Application
Icon=xyz.safeworlds.midiconn
Categories=AudioVideo
MimeType=application/x-midiconn-preset
